
body {
	font-size			: 0.85em;
	font-family 		: 'Bookman Old Style', 'Book Antiqua', 'Garamond', 'Georgia';
	margin 				: 0 auto;
	text-align			: justify;
}

h3 {
	font-weight 		: 100;
	margin 				: 1em 0em 0.3em 0em;
}

td, th {
	padding				: 0px;
	margin				: 0px;
}

div.header {
	color : #DE4E80;
	font-family :  "Leckerli One";
	/* Took this from css-tricks.com */
  	text-shadow:
       3px 3px 0 #492E59,
     -1px -1px 0 #492E59,  
      1px -1px 0 #492E59,
      -1px 1px 0 #492E59,
       1px 1px 0 #492E59;
	font-size   		: 5em;
	margin 				: 10px 0 0 0;
	padding 			: 0;
	font-weight 		: 100;
	text-align 			: center;
	line-height			: 1em;
}

/* -------------------------------------------------- */
/* Table styles                                       */
/* -------------------------------------------------- */
table.field_table {
	text-align 			: center;
	border				: none;
	border-collapse 	: collapse;
}

table.field_table tr:nth-child(2n+1) {
	background-color 	: #f9f9f9;
}

table.operation_table tr:first-child,
table.operation_table tr td:first-child,
table.elements_table  tr td:first-child 
{
	background-color	: #f3f3f3;
}

div.separator {
	font-size			: 2.25em;
	margin 				: 0.5em 0em 0.5em 0em;
}

div.colored_element {
	border				: none;
	min-height			: 20px; 
	width 				: 20px; 
	display 			: block; 
}

div.text_element {
	margin 				: 0.25em 0.5em;
}

/* -------------------------------------------------- */
/* Button styles                                      */
/* -------------------------------------------------- */
.button {	
	text-decoration 	: none;
	color 				: #222222;
	padding 			: 4px;
	margin 				: 0px;
	display 			: inline-block;
	border-radius		: 3px 3px;
	border 				: 1px solid #bbbbbb;
}

.button:active, .button.selected, .button:hover {
	background-color 	: #f0f0f0;
}

.button.close {
	color 				: #F74A50;
}	

/* -------------------------------------------------- */
/* List of polynoms                                   */
/* -------------------------------------------------- */
div.polynoms_list {
	margin 				: auto;
	width 				: 60%;
	text-align  		: center;
}

div.polynom_container {
	margin 				: 0.25em 0.5em;
	padding 			: 0.2em;
	cursor 				: pointer;
	display 			: inline-block;
}
.irreducible_polynom {
	border 				: 1px dotted;
}




